<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>world-expo.uz</title>
	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--bootstrap-->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!--Style-->

  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>




<body>
	<header id="header-one">
		<!---Dark owerli-->

		<div class="dark-owerli">
		<div class="container pt-3">
			<!---Navbar-->

		<nav class="navbar navbar-expand-sm">

			<!---nav butoon-->

			<button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			     <div class="hamburger">
					    <span id="span"></span>
					    <span id="span"></span>
					    <span id="span"></span>
					    <span id="span"></span>
					  </div>
			  </button>
			  <div>
			  	<img src="img/Group5.png" data-toggle="collapse" class="navbar-toggler">
			  </div>
			  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			  	 <ul class="navbar-nav">
			    <li class="nav-item">
			      <a class="nav-link"  href="main.html">HOME</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="cards.html">BOOTHS</a>
			    </li>
			      <li class="nav-item">
			      <a class="nav-link" href="outside.html" >EXHIBITION HALL 1</a>
			    </li>
				  <a class="navbar-brand"  href="#" ><img src="img/Group5.png"></a>
			    <li class="nav-item">
			      <a class="nav-link" href="inside.html" >EXHIBITION HALL 2</a>
			    </li>
			      <li class="nav-item">
			      <a class="nav-link" href="cards.html" >I VOTE</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="Organization.html">CONTACT</a>
			    </li>
			  </ul>
			</div>
			</nav>

			<!---Tour expo-->
			<p id="text-one" class="items">Tour Expo</p>
			<p id="text-two" class="items"> Tourism Exhibition 2020 Tashkent</p>
			<a href="#">
				<img src="img/Group519.svg">
				<span id="text-thre">Подробнее</span>
			</a>


			<!---cards-->

			<div class="row d-flex">
				<div class="col-md-4">
					<a href="#" id="card">
						<div class="card" id="card">
						<p id="text-four">РЕГИСТРИРОВАТСЯ КАК УЧАСТНИК</p>
						<p id="text-five">Lorem impsum is dolor samet which Lorem impsum is dolor samet which</p>
						</div>
					</a>
				</div>
				<!---Card-one-->
				<div class="col-md-4">
					<a href="#" id="card">
					<div class="card" id="card">
					  <img class="card-img-top" src="img/Rectangle16.png" alt="Card image" style="height: 245px;">
					  <div class="card-img-overlay" id="dark-owerli-one">
					    <p id="text-four1">ПЕРЕЙТИ К ВЫСТАВОЧНЫЙ ЗАЛ САЙТА</p>
						<p id="text-five1">Lorem impsum is dolor samet which Lorem impsum is dolor samet which</p>
					  </div>
					</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="#" id="card">
						<div class="card" id="card">
							<p id="text-four">ПОДРОБНЕЕ О ВИРТУАЛЬНАЯ ВЫСТАВКА</p>
							<p id="text-five">Lorem impsum is dolor samet which Lorem impsum is dolor samet which</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	</header>

	<!--- Section-->

	<section>
		<div class="container">
		<p id="text-1">
			<img src="img/Group16.svg">Ближайшее онлайн выставки</p>
			<div class="row">
				<div class="col-md-3">
				<div class="card">
					<a href="#" class="text-decoration">
				  <img class="card-img-top" src="img/Rectangle15.png" alt="Card image" style="width: 100%">
				  <div class="card-img-overlay" id="dark-owerli-two">
						<p id="text-2">ПЕРЕЙТИ К ВЫСТАВОЧНЫЙ ЗАЛ САЙТА</p>
						<p id="text-3">Lorem impsum is dolor samet which Lorem impsum is dolor samet which</p>
				  </div>
				</a>
				</div>
				</div>
				<div class="col-md-5">
				<div class="card" >
					<a href="#" class="text-decoration">
				  <img class="card-img-top" src="img/Rectangle16.png" alt="Card image" style="width: 100%;height:243px;">
				  <div class="card-img-overlay dark-overli-three" >
								<p id="text4">ПЕРЕЙТИ К ВЫСТАВОЧНЫЙ ЗАЛ САЙТА</p>
								<p id="text5">Lorem impsum is dolor samet which Lorem impsum is dolor samet which</p>
				  </div>
				</a>
				</div>
						<div class="card" id="card-two6">
						<a href="#" class="text-decoration">
						  <img class="card-img-top" src="img/Rectangle17.png" alt="Card image" style="width: 100%;"height="200px;">
						  <div class="card-img-overlay dark-overli-three">
								<p id="text8">ПЕРЕЙТИ К ВЫСТАВОЧНЫЙ ЗАЛ САЙТА</p>
								<p id="text9">Lorem impsum is dolor samet which Lorem impsum is dolor samet which</p>						  </div>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<div class="card" id="card-main">
						<a href="#" class="text-decoration">
						  <img class="card-img-top" src="img/Rectangle18.png" alt="Card image" style="width: 100%;" id="card-main-img">
						  <div class="card-img-overlay dark-overli-three">
								<p id="text4">ПЕРЕЙТИ К ВЫСТАВОЧНЫЙ ЗАЛ САЙТА</p>
								<p id="text5">Lorem impsum is dolor samet which Lorem impsum is dolor samet which</p>
						</div>
					</a>
					</div>

					<div class="card" id="card-two6">
						<a href="#" class="text-decoration">
						  <img class="card-img-top" src="img/Rectangle19.png" alt="Card image" style="width: 100%;height: 260px">
						  <div class="card-img-overlay dark-overli-three">
								<p id="text-5">ПЕРЕЙТИ К ВЫСТАВОЧНЫЙ ЗАЛ САЙТА</p>
								<p id="text-6">Lorem impsum is dolor samet which Lorem impsum is dolor samet which</p>
						</div>
					</a>
					</div>
				</div>
			</div>
			
		</div>
	</section>


	<!--Section-->

	<section>
		<div class="container">
			
		<p id="text-12"><img src="img/Group16.svg">новости</p>

		<div class="row">
			<div class="col-md-3 mt-3">
				<a href="#" style="text-decoration: none;">
				<div class="card" class="card1">
					<p class="text1">Texas Instruments, спонсор JdP 2020</p>
					<p class="text2">Texas Instruments (TI) - глобальный игрок в полупроводниковой промышленности и крупнейший в мире создатель и поставщик</p>			
				</div>
			</a>
			</div>
			<div class="col-md-3 mt-3">
				<a href="#" style="text-decoration: none;">
					<div class="card" class="card1">
					<p class="text1">Texas Instruments, спонсор JdP 2020</p>
					<p class="text2">Texas Instruments (TI) - глобальный игрок в полупроводниковой промышленности и крупнейший в мире создатель и поставщик</p>			
				</div>
			</a>
			</div>
			<div class="col-md-3 mt-3">

				<a href="#" style="text-decoration: none;">
					<div class="card" class="card1">
					<p class="text1">Texas Instruments, спонсор JdP 2020</p>
					<p class="text2">Texas Instruments (TI) - глобальный игрок в полупроводниковой промышленности и крупнейший в мире создатель и поставщик</p>			
				</div>
			</a>
			</div>
			<div class="col-md-3 mt-3">

				<a href="#" style="text-decoration: none;">
					<div class="card" class="card1">
					<p class="text1">Texas Instruments, спонсор JdP 2020</p>
					<p class="text2">Texas Instruments (TI) - глобальный игрок в полупроводниковой промышленности и крупнейший в мире создатель и поставщик</p>			
				</div>
			</a>
			</div>
				<div class="col-md-3 mt-3">
				<a href="#" style="text-decoration: none;">
				<div class="card" class="card1">
					<p class="text1">Texas Instruments, спонсор JdP 2020</p>
					<p class="text2">Texas Instruments (TI) - глобальный игрок в полупроводниковой промышленности и крупнейший в мире создатель и поставщик</p>			
				</div>
			</a>
			</div>
			<div class="col-md-3 mt-3">
				<a href="#" style="text-decoration: none;">
					<div class="card" class="card1">
					<p class="text1">Texas Instruments, спонсор JdP 2020</p>
					<p class="text2">Texas Instruments (TI) - глобальный игрок в полупроводниковой промышленности и крупнейший в мире создатель и поставщик</p>			
				</div>
			</a>
			</div>
			<div class="col-md-3 mt-3">
				<a href="#" style="text-decoration: none;">
					<div class="card" class="card1">
					<p class="text1">Texas Instruments, спонсор JdP 2020</p>
					<p class="text2">Texas Instruments (TI) - глобальный игрок в полупроводниковой промышленности и крупнейший в мире создатель и поставщик</p>			
				</div>
			</a>
			</div>
			<div class="col-md-3 mt-3">
				<a href="#" style="text-decoration: none;">
					<div class="card" class="card1">
					<p class="text1">Texas Instruments, спонсор JdP 2020</p>
					<p class="text2">Texas Instruments (TI) - глобальный игрок в полупроводниковой промышленности и крупнейший в мире создатель и поставщик</p>			
				</div>
			</a>
			</div>
		</div>
		</div>
	</section>

	<div id="app">
	<section>

		<div class="container container-onas">
			<div class="col-md-12">
		<p class="onas">Коротко о нас</p>
				
		<p class="onas1">Lorem impsum is dolor samet which Lorem <br> impsum is dolor samet which</p>
		<p class="onas2 item">TourExpo.uz is MICE organizer in Tourism field and a part of a travel and consulting brand company “WORLD.UZ”in Uzbekistan. More than a dozen of companies belong to World.uz and has operating branches almost every region of Uzbekistan, such as in Andijan, Fergana, Namangan, Syrdarya, Jizzakh, Samarkand, Navoiy, Bukhara, Qarshi, Termiz, Denov, Urgench cities. We organize international tourism fairs twice a year and local tourism fairs monthly
			</p>
			</div>
			<p><img src="img/Group14.svg" id="shadow"><img src="img/Group16.svg" class="img"><img src="img/Group13.svg" id="shadow1"></p>
			<div class="notebook">
			<div class="container">
				<img @click="myVedio.play(),playBtn()" v-if="play"  src="img/Group9.svg" id="img-pause">
				<video  controls id="myVedio">
				  <source src="video/reklama.mp4" type="video/mp4">
				</video>
			</div>
		</div>
		</div>

		<img src="img/Group17.svg" id="dizien">
	</section>



	<!--Footer-->

	<footer id="footer" class="pt-5">

		<div class="container mt-5">
			<div class="row">
				<div class="col-md-5"  id="footer-responsive">
			      <a  id="glavnaya" href="#">ГЛАВНАЯ</a>
			      <a  href="#" id="novosti">НОВОСТИ САЙТА</a>
			      <a  href="#" id="podstavka">ПОДСТАВКИ</a>
				</div>
				<div class="col-md-2" id="footer-responsive">
			 	  <a  href="#" class="navbar-brand-footer">
			 	  	<img src="img/Group5.png" id="navbar-brand-footer">
			 	  </a>
				</div>
				<div class="col-md-5" id="footer-responsive">
			      <a  href="#" id="vstavnoch">ВЫСТАВОЧНЫЙ ЗАЛ</a>
			      <a  href="#" id="partner">ПАРТНЕРЫ</a>
			      <a  href="#" id="kontakt">КОНТАКТ</a>
				</div>
		</div>
		</div>

		<div class="container" >

			<div class="row">
				<div class="col-md-5">
					<a href="#" id="user">
						<img src="img/Group18.svg" >Анастасия Павлова</a>
						<div  v-if="languag" id="dropdown-item">
					    	<a class="dropdown-item" id="user1" href="#"><img src="img/Fill1152.svg" >Русский</a>
					    	<a class="dropdown-item" id="user1" href="#"><img src="img/Fill1152.svg" >Русский</a>
					    	<a class="dropdown-item" id="user1" href="#"><img src="img/Fill1152.svg" >Русский</a>
					    </div>
					<a  id="user" @click="language(), Vectoor.vector=!Vectoor.vector"/>
						<img src="img/Fill1152.svg" >Русский<img  src="img/Vector.svg" v-bind:class="Vectoor">
					</a>
				</div>
				<div class="col-md-5 mt-4 offset-2" id="messenger">
					<a href="#" id="user2"><img src="img/facebook.png" > Facebook </a>
					<a href="#" id="user2" ><img src="img/instagram.png" > Instagram </a>
					<a href="#" id="user2" ><img src="img/telegram.png" > Telegram </a>
				</div>
			</div>
			<p class="end">Все права защищены 2020 © ExpoPolis - Юридические уведомления</p>
			</div>
	</footer>
</div>

  <script src="js/jquery.slim.min.js"></script>
  <script type="text/javascript" src="js/move_Bg.js"></script>
  <script src="js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="js/node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>